<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <div class="flex flex-col sm:flex-row justify-between items-center mb-6">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-white">Products</h2>
      <button routerLink="/products/create" type="button" class="focus:outline-none text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-400 dark:focus:ring-green-700">
        + Add Product
      </button>
    </div>
  
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-300">
          <tr>
            <th scope="col" class="px-4 py-3">Name</th>
            <th scope="col" class="px-4 py-3">Description</th>
            <th scope="col" class="px-4 py-3">Category</th>
            <th scope="col" class="px-4 py-3">Price</th>
            <th scope="col" class="px-4 py-3">Stock</th>
            <th scope="col" class="px-4 py-3">Brand</th>
            <th scope="col" class="px-4 py-3">Created At</th>
            <th scope="col" class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
          <tr *ngFor="let product of products" class="hover:bg-gray-50 dark:hover:bg-gray-800 transition">
            <td scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ product.productName }}</td>
            <td scope="row" class="px-4 py-2">{{ product.productDescription }}</td>
            <td scope="row" class="px-4 py-2">{{ product.productCategory }}</td>
            <td scope="row" class="px-4 py-2">{{ product.productPrice | currency }}</td>
            <td scope="row" class="px-4 py-2">{{ product.productStock }}</td>
            <td scope="row" class="px-4 py-2">{{ product.productBrand }}</td>
            <td scope="row" class="px-4 py-2">{{ product.createdAt }}</td>
            <td scope="row" class="px-4 py-2 space-x-2">
              <button
                [routerLink]="['/products/edit', product.id]"
                class="inline-flex items-center px-3 py-1.5 bg-blue-400 hover:bg-blue-500 text-white text-xs font-medium rounded transition">
                Edit
              </button>
              <button
                (click)="delete(product.id)"
                class="inline-flex items-center px-3 py-1.5 bg-red-600 hover:bg-red-700 text-white text-xs font-medium rounded transition">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  